<%- include("includes/head", {pageTitle : "404 - Not Found" }) %>

    </head>

    <body>
        <%- include("includes/header") %>
            <main>
                <h1>404-Not Found</h1>
                <p>Risorsa non trovata</p>
                <p><a class="btn" href="/">Torna alla homepage</a></p>
            </main>
            <%- include("includes/footer") %>