<%- include("includes/head", {pageTitle : "Ops... an error occurred" }) %>

    </head>

    <body>
        <%- include("includes/header") %>
            <main>
                <h1>Ops... qualcosa è andato storto</h1>
                <p>Qualcosa è andato storto. Riprova più tardi...</p>
                <p><a class="btn" href="/">Torna alla homepage</a></p>
            </main>
            <%- include("includes/footer") %>